
#mainAnchorPane{
    -fx-background-color: #0c8181;
    -fx-font-size: 18;
}

#cordField {
    -fx-border-radius: 30;
    -fx-font-size: 35;
    -fx-font-family: "Artifakt Element Black";
}

#basicLabel{
    -fx-background-color:"#7AB9D1";
    -fx-font-weight: 800;
    -fx-border-radius: 20;
}
.mainAnchorPane Label {
    /*-fx-background-color: "#3A89A9";*/
    -fx-text-alignment: "center";
    -fx-font-family: "Bell MT";
    -fx-border-radius: 20;
 }


/*GridPane*/
#mainGridPane {
    -fx-background-color: #7AB9D1;
}

#mainGridPane Label {
    -fx-text-fill: white;
    -fx-background-color: #7777d3;
    -fx-border-radius: 20;
}
/*GridPane*/


/*Menu bar */
#optionsMenuBar {
    -fx-background-color: white;
}

#optionsMenuBar .menu {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

#optionsMenuBar .menu-item {
    -fx-font-size: 18px;
    -fx-text-fill: black;
}

#optionsMenuBar .menu-item:disabled {
    -fx-opacity: 0.5;
}

#optionsMenuBar .menu-item:selected {
    -fx-background-color: #e1e1e1;
}


/*Menu bar */


/*CheckBoxes settings TODO make some changes in view */
.my-check-box .box {
    -fx-background-color: #fff;
    -fx-border-color: #000;
    -fx-border-width: 2px;
}

.my-check-box .text {
    -fx-font-family: "Bell MT";
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #000;
}
/*CheckBoxes*/